/WesLib/toolbar/send_efx_cache.shelf
*bak*.hda
/WesLib/python/_panels/project/_browser/_config.json
/WesLib/otls/backup/
/WesLib/scripts/python/weslie/.vscode/
/WesLib/scripts/python/weslie/wes_ProjBrowser.py.bak_*
*.pyc
__pycache__/
WesLib/python_panels/project_browser_config.json
