WesLib/toolbar/send_efx_cache.shelf
*bak*.hda
WesLib/python_panels/project_browser_config.json
WesLib/desktop/Wes_Default.desk
*.pyc
__pycache__/
WesLib/desktop/Wes_Default.desk
WesLib/desktop/Wes_Default.desk
/WesLib/scripts/python/weslie/.vscode
WesLib/scripts/python/weslie/wes_ProjBrowser.py.bak_20260514_104259
WesLib/scripts/python/weslie/wes_ProjBrowser.py.bak_20260514_105403
WesLib/scripts/python/weslie/wes_ProjBrowser.py.bak_20260514_111152
WesLib/scripts/python/weslie/wes_ProjBrowser.py.bak_20260514_105026
/WesLib/scripts/python/weslie/.vscode
